@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* Navbar */
.profile{
    margin-top: 41px;
    border-radius: 60px;
    width: 217px;
    height: 326px;
    
}
.profile-name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.profile-name h1{
   
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #4E5150;
    
}
.profile-name h5{
    font-family:'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #A9A9A9;
    margin-bottom: 26px;

}
.description{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 76px;
}
.posts{
    width: 100px;
    height: 67px;
    background: #E5E5E5;
    border-radius: 16px;
    margin-right: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.follower{
    width: 100px;
    height: 67px;
    background: #E5E5E5;
    border-radius: 16px;
    margin-right: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.following{
    width: 100px;
    height: 67px;
    background: #E5E5E5;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.number{
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #4E5150;
}
.name{
    width: 50px;
    height: 14.24px;
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #4E5150;

}
.pic{
    border-radius: 20px;
}
.gallery{
    display: flex;
    flex-flow: column;
    justify-items: center;
    align-content: center;
    margin: 10px 17.5rem;
    
    
}
.pic1{
    
    width: 299px;
    height: 299px;
}
.pic2{
    
    width: 629px;
    height: 299px;
}
.pic3{
    width: 627px;
    height: 299px;
}
.tall{
    /* width: 917px; */
    height: 625px;
    border-radius: 40px;
   
}
.pic5{
    width: 299px;
    height: 299px;
}
.pic6{
    width: 299px;
    height: 299px;

}

.first-section{
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
}
.second-section{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.second-section-first {
    display: flex;
    justify-content: space-between;
    flex-flow: column;
    /* max-width: 50rem; */
    margin-right: 1.5rem;

}
/* .second-section-first */
.third-section {
    display: flex;
    justify-content: space-between;
    flex-flow: row;
    margin-top: 1.5rem;
}


/* footer */
footer p{
    font-family:'Montserrat',sans-serif; 
    display: flex;
    justify-content: center;
    margin-bottom: 58px;
    margin-top: 65px;
}